.container
  .row
    .col-xs-12
      .gs-resources
        %h1.gs-story__title
          %span.gs-story__title-text
            = I18n.t('employee.resources.title')
        %p.gs-resources__text-sm
          = I18n.t('employee.resources.docs_policies')
        %ul.gs-resources__list
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/san_francisco.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                Administration
              %span.gs-resources__li-text
                12 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/administration.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                Human Resources
              %span.gs-resources__li-text
                10 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/human_resources.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                Engineering
              %span.gs-resources__li-text
                8 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/engineering.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                New York
              %span.gs-resources__li-text
                22 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/new_york.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                Marketing
              %span.gs-resources__li-text
                15 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/marketing.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                Product
              %span.gs-resources__li-text
                15 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/product.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                Sales
              %span.gs-resources__li-text
                15 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/sales.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                San Francisco
              %span.gs-resources__li-text
                32 documents
          %li.gs-resources__li
            .gs-resources__li-bg(style="background-image: url('#{asset_url('temp/systems.jpg')}');")
            .gs-resources__li-content
              %span.gs-resources__li-title
                Systems & Procedures
              %span.gs-resources__li-text
                6 documents
